:root {
  --c-background-top: #ebe3d7;
  --c-text: #504538;
  --c-text-link: #b85a30;
  --c-highlight: #c4724a;
  --c-border: #c9b9a8;
}

body {
  background: var(--c-background-top);
  color: var(--c-text);
}

body::after {
  content: "";
  background-image: url("/_assets/noise.png");
  position: fixed;
  background-size: 140px;
  inset: 0;
  z-index: 9999;
  opacity: 0.11;
  pointer-events: none;
}

a {
  color: var(--c-text-link);
}
