:root {
  --c-background: rgb(255, 255, 255);
  --c-text: #353b48;
  --c-text-link: #273c75;
  --c-highlight: #ff4c29;
  --c-border: rgba(30, 30, 30, 0.4);
}

body {
  background-color: var(--c-background);
  color: var(--c-text);
}

a {
  color: var(--c-text-link);
}
