:root {
  --c-background-top: #e8e4df;
  --c-text: #4a4540;
  --c-text-link: #7a6e64;
  --c-highlight: #b5654a;
  --c-border: #c8c1b8;
}

body {
  background: var(--c-background-top);
  color: var(--c-text);
}

a {
  color: var(--c-text-link);
}
