---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import Timeline from "../components/Timeline.astro";

const title = "Sorami Hisamoto";
const description =
  "Interested in tools for thought. / 思考のための道具に興味があります。";
---

<Layout title={title} description={description}>
  <div id="home">
    <HeroSection />
    <Timeline />
  </div>
</Layout>

<style>
  #home {
    max-width: 700px;
    margin: 3em auto;
    padding: 0 1em;
    text-align: center;
  }
</style>
