---
import Layout from "../layouts/Layout.astro";

const title = "text";
const description =
  "Interested in tools for thought. / 思考のための道具に興味があります。";

import { links } from "../data/links";
---

<Layout title={title} description={description}>
  <h1>text</h1>
</Layout>

<style lang="scss"></style>
