<footer>
  Made with <span class="heart">♥</span> in Tokyo
</footer>

<style lang="scss">
  footer {
    margin: 3em auto;
    padding-bottom: 2em;
    text-align: center;
    font-size: 0.85em;
    opacity: 0.35;
    transition: opacity 300ms ease;

    &:hover {
      opacity: 0.6;

      .heart {
        color: #c4724a;
        opacity: 1;
      }
    }

    .heart {
      display: inline-block;
      transition: color 300ms ease, opacity 300ms ease, transform 300ms ease;
    }
  }
</style>
