<footer>
  <button id="scroll">↑</button>
</footer>

<style lang="scss">
  footer {
    text-align: center;
    opacity: 0.4;

    button {
      border: 0;
    }
  }
</style>

<script>
  const button = document.querySelector("button#scroll");
  button?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
