---
const pathname = Astro.url.pathname;
const pages = [
  { path: "/", name: "home" },
  //  { path: "", name: "garden" },
  { path: "https://b.sorami.dev", name: "blog" },
  { path: "/timeline/", name: "timeline" },
];
---

<header>
  <div id="caption"><a href="/">sorami.dev</a></div>
  <div id="navigation">
    {
      pages.map((d) => (
        <a
          href={d.path}
          rel="prefetch"
          class={pathname === d.path ? "active" : ""}
        >
          {d.name}
        </a>
      ))
    }
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;

    #caption {
      opacity: 0.6;
      font-weight: 700;

      a {
        text-decoration: none;

        &:hover {
          color: var(--c-highlight);
        }
      }
    }

    #navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 1em;

      a {
        opacity: 0.4;
        text-decoration: none;

        &.active {
          text-decoration: underline;
          pointer-events: none;
          opacity: 0.7;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
</style>
