<div id="logo-links">
  <div>
    <a
      href="https://bsky.app/profile/sorami.dev"
      target="_blank"
      rel="noreferrer"
    >
      <img src="/_assets/logo/bluesky.svg" alt="Bluesky" />
    </a>
  </div>
  <!-- <div>
    <a
      href="https://vis.social/@sorami"
      rel="me"
      target="_blank"
      rel="noreferrer"
    >
      <img src="/_assets/logo/mastodon.svg" alt="Mastodon" />
    </a>
  </div> -->
  <div>
    <a href="https://github.com/sorami" target="_blank" rel="noreferrer">
      <img src="/_assets/logo/github.png" alt="GitHub" class="invert" />
    </a>
  </div>
  <div>
    <a href="https://x.com/sorami" target="_blank" rel="noreferrer">
      <img src="/_assets/logo/x.svg" alt="X" />
    </a>
  </div>
</div>

<style lang="scss">
  #logo-links {
    display: inline-flex;
    width: 220px;
    margin-top: 5em;
    margin-bottom: 4em;
    justify-content: space-between;
    align-items: center;

    img {
      opacity: 0.5;
      width: 22px;

      &.invert {
        filter: invert(1);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
</style>
