<div id="logo-links">
  <div>
    <a href="https://twitter.com/sorami" target="_blank" rel="noreferrer">
      <img src="/_assets/logo/twitter.png" alt="Twitter" />
    </a>
  </div>
  <div>
    <a href="https://observablehq.com/@sorami" target="_blank" rel="noreferrer">
      <img src="/_assets/logo/observable.png" alt="Observable" />
    </a>
  </div>
  <div>
    <a href="https://github.com/sorami" target="_blank" rel="noreferrer">
      <img src="/_assets/logo/github.png" alt="GitHub" />
    </a>
  </div>
</div>

<style lang="scss">
  #logo-links {
    display: inline-flex;
    width: 220px;
    margin-top: 4em;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;

    img {
      opacity: 0.5;
      width: 28px;

      &:hover {
        opacity: 1;
      }
    }
  }
</style>
