---
import { timelineItems } from "../data/timeline";

const presentationItems = timelineItems.filter(
  (d) => d.type === "presentation",
);
---

<div id="presentations">
  <h2>Presentations</h2>
  <div id="presentation-items">
    {
      presentationItems.map((d) => (
        <div class="pub">
          <a href={d.url} target="_blank" rel="noreferrer">
            <span class="title">{d.title}</span> {d.description}, {d.date}.
          </a>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  #presentations {
    margin-top: 2em;

    h2 {
      font-size: 1em;
      text-align: center;
    }

    #presentation-items {
      display: flex;
      flex-direction: column;
      row-gap: 0.75em;

      .pub {
        font-size: 0.7em;

        a {
          text-decoration: none;
          color: var(--c-text);

          &:hover {
            text-decoration: underline;
          }

          .title {
            font-weight: 700;
          }
          &:hover .title {
            color: var(--c-highlight);
          }
        }
      }
    }
  }
</style>
