---
const { title, type, description, url, image } = Astro.props;

const iconDict: Record<string, string> = {
  article: "i-heroicons-document-text-20-solid",
  paper: "i-heroicons-academic-cap-20-solid",
  presentation: "i-heroicons-presentation-chart-bar-20-solid",
  podcast: "i-heroicons-radio-20-solid",
};
---

<a href={url} target="_blank" rel="noreferrer">
  <div class="container">
    <div class="thumbnail">
      <img src={image} alt="thumbnail" />
    </div>
    <div class="flex items-center">
      <div class="text">
        <span class="title">{title}</span>
        <span class="description">{description}</span>
      </div>
    </div>
  </div>
</a>

<style lang="scss">
  a {
    text-decoration: none;
    color: var(--c-text);
  }

  .container {
    position: relative;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    .thumbnail {
      overflow: hidden;
      border-radius: 4%;

      img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        transition: transform 500ms ease, filter 500ms ease;
      }
    }

    .text {
      font-size: 0.75em;
      padding: 0 0.25em;

      .title {
        font-weight: 700;
        transition: color 400ms ease;
      }

      .description {
        opacity: 0.6;
        transition: opacity 400ms ease;
      }
    }

    &:hover {
      animation: shaking 800ms ease-out;

      .text {
        .title {
          color: var(--c-highlight);
        }

        .description {
          opacity: 0.9;
        }
      }
    }
  }

  @keyframes shaking {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(5deg);
    }
    30% {
      transform: rotate(-4deg);
    }
    45% {
      transform: rotate(3deg);
    }
    60% {
      transform: rotate(-2deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0);
    }
  }
</style>
