---
import WorkItem from "./WorkItem.astro";
import { works } from "../data/works";
---

<div id="works">
  {
    works.map((d) => (
      <WorkItem
        url={d.url}
        title={d.title}
        description={d.description}
        image={d.image}
      />
    ))
  }
</div>

<style lang="scss">
  #works {
    --auto-grid-min-size: 170px;

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-gap: 1.25em;
  }
</style>
