---
const { title, type, description, url, image } = Astro.props;

const iconDict: Record<string, string> = {
  article: "i-heroicons-document-text-20-solid",
  paper: "i-heroicons-academic-cap-20-solid",
  presentation: "i-heroicons-presentation-chart-bar-20-solid",
  podcast: "i-heroicons-radio-20-solid",
};
---

<a href={url} target="_blank" rel="noreferrer">
  <div class="container">
    <div class="thumbnail">
      <img src={image} alt="thumbnail" />
    </div>
    <div class="flex items-center">
      <div class="text">
        <span class="title">{title}</span>
        <span class="description">{description}</span>
      </div>
    </div>
  </div>
</a>

<style lang="scss">
  a {
    text-decoration: none;
    color: var(--c-text);
  }

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    .thumbnail {
      img {
        width: 100%;
        aspect-ratio: 4 / 3;
        border-radius: 4%;
        object-fit: cover;
      }
    }

    .text {
      font-size: 0.75em;
      padding: 0 0.25em;

      .title {
        font-weight: 700;
      }

      .description {
        opacity: 0.8;
      }
    }

    .thumbnail {
      transition: filter 1000ms ease;
    }
    .text {
      .title {
        transition: color 1000ms ease;
      }
    }

    &:hover {
      animation: shaking 700ms ease-out;

      .text {
        .title {
          color: var(--c-highlight);
          transition: color 700ms;
        }
      }
    }
  }

  @keyframes shaking {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: rotate(6deg);
    }
    40% {
      transform: rotate(-6deg);
    }
    60% {
      transform: rotate(6deg);
    }
    80% {
      transform: rotate(-6deg);
    }
    100% {
      transform: rotate(0);
    }
  }
</style>
